@page "/ticket/{Id:int}"
@using TicketManager.Data
@using TicketManager.Services.TicketServices

@inject ITicketService _ticketService
@inject NavigationManager _navigationManager
<h3>Ticket @Id</h3>

<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 text-black">
                <div class="form-outline mb-4">
                    <label class="form-label">Name</label>
                    <text readonly class="form-control">@_ticket.Name</text>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">Description (optional)</label>
                    <textarea readonly rows="@Rows" id="form1Example1" class="form-control">@_ticket.Description</textarea >
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Receiver</label>
                    <text readonly class="form-control">@_ticket.ReceiverId.ToString()</text>
                </div>
            </div>

        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block"></div>
    </div>
</section>

@code {

    [Parameter]
    public int Id { get; set; }

        private const int Rows = 10;
    private Ticket _ticket;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (_ticketService.GetById(Id) == null)
        {
            _navigationManager.NavigateTo("/tickets", true);
        }
        _ticket = _ticketService.GetById(Id);
    }

}